.inputs-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.inputs-search input {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow: visible;
    opacity: 1;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}
